body {
    margin: 0;
    padding: 0;
    background: url(https://cdn.discordapp.com/attachments/1121189292400717954/1121859177921392731/66461D6B-1384-42F9-8036-305AA2FDD1FF.jpg);
    background-size: cover;
 }
